<script type="text/x-mustache-template" data-tag-name="li" data-attr-data-src="{{icon.data.value.href}}" data-attr-data-sub-html="&lt;h3&gt;{{{title}}}&lt;/h3&gt;" aria-hidden="true">
    <a href="#">
        <img src="{{icon.data.value.href}}"/>
    </a>
</script>
