.rating {
    position: relative;
    float:left;
    font-family: 'FontAwesome';
    margin: 50px auto;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: 'fa-star';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.star-rating{
    margin: 50px;
    position: relative;
    float: left;
}

.form{
    position: relative;
    float: left;
}
.review-input{
    position: relative;
    float: left;
    margin-top: 40px;
    padding-left: 10px;
}

.reviews{
    position:relative;
    margin-top: 50px;
}

.average-rating{
    position: relative; 
    float: top;
}

#comment{
    display: block;
    font-family:Sans-serif;
    font-size:1.2em;
    overflow: hidden;
}

.percentbar {
    background:#CCCCCC;
    border:1px solid #666666;
    height:10px;
}

.percentbar div {
    background: gold;
    height: 10px;
}